{% extends 'base.html.twig' %}

{% block body %}
	<div class="container">
		<div class="row justify-content-center align-items-center" style="height: 100vh;">
			<div class="col-md-6 text-center">
				<a class="btn btn-primary btn-lg" href="{{ path('app_vod') }}">Vod</a>
			</div>
			<div class="col-md-6 text-center">
				<a class="btn btn-danger btn-lg" href="{{ path('app_cinema') }}">Cinema</a>
			</div>
		</div>
	</div>
{% endblock %}
