{% extends 'base.html.twig' %}

{% block body %}
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<h2>Partie Vod</h2>
				<a class="btn btn-primary" href="vod">Vod</a>
			</div>
			<div class="col-md-6">
				<h2>Partie Cinema</h2>
				<a class="btn btn-danger" href="cinema">Cinema</a>
			</div>
		</div>
	</div>
{% endblock %}
