
{% extends 'base.html.twig' %}

{% block title %}Administration Utilisateurs{% endblock %}

{% block body %}
  {% include('vod/partials/header.html.twig') %}

  <div class="container">
    {% include('admin/_listUsers.html.twig') %}
    {% include('admin/_listFilms.html.twig') %}
    {% include('admin/_listSeries.html.twig') %}
    {% include('admin/_listActeurs.html.twig') %}
  </div>


  {% include('vod/partials/footer.html.twig') %}
{% endblock %}
  