{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
	{% include('vod/partials/header.html.twig') %}
  <div class="container">
    <h1>Bienvenue sur notre site de streaming / VOD</h1>
    <div class="btn-group">
      <a href="{{ path('films_index') }}" class="btn btn-primary">Films</a>
      <a href="{{ path('series_index') }}" class="btn btn-primary">Séries</a>
    </div>
  </div>

  {% include('vod/partials/footer.html.twig') %}

{% endblock %}
