<footer class="bg-dark text-white mt-auto">
  <div class="bg-secondary text-white text-center py-3">
    <p>&copy; 2023 Paradise Movies. Tous droits réservés.</p>
  </div>
</footer>

<style>
  html,
  body {
    height: 100%;
  }
  body {
    display: flex;
    flex-direction: column;
  }
  .container-fluid {
    flex: 1;
  }
</style>
