<footer class="bg-dark text-white mt-auto">
  {# <div class="container-fluid">
    <div class="row py-4">
      <div class="col-md-4">
        <h5>À propos de Paradise Movies</h5>
        <p>Paradise Movies est une plateforme de streaming de films et de séries TV. Nous proposons un large choix de contenus pour tous les goûts et tous les âges.</p>
      </div>
      <div class="col-md-4">
        <h5>Liens utiles</h5>
        <ul class="list-unstyled">
          <li><a href="#">Accueil</a></li>
          <li><a href="#">Catalogue</a></li>
          <li><a href="#">Abonnement</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <h5>Nous suivre</h5>
        <ul class="list-unstyled">
          <li><a href="#"><i class="fab fa-facebook fa-lg"></i> Facebook</a></li>
          <li><a href="#"><i class="fab fa-twitter fa-lg"></i> Twitter</a></li>
          <li><a href="#"><i class="fab fa-instagram fa-lg"></i> Instagram</a></li>
          <li><a href="#"><i class="fab fa-youtube fa-lg"></i> YouTube</a></li>
        </ul>
      </div>
    </div>
  </div> #}
  <div class="bg-secondary text-white text-center py-3">
    <p>&copy; 2023 Paradise Movies. Tous droits réservés.</p>
  </div>
</footer>

<style>
  html,
  body {
    height: 100%;
  }
  body {
    display: flex;
    flex-direction: column;
  }
  .container-fluid {
    flex: 1;
  }
</style>
