{% extends 'base.html.twig' %}

{% block title %}Séries{% endblock %}

{% block body %}
  {% include('vod/partials/header.html.twig') %}

  <div class="container">
    <h1 class="my-4">Séries disponibles</h1>

    {% if series is empty %}
      <p>Aucune série disponible pour le moment.</p>
    {% else %}
      <div class="card mb-4">
        <ul class="list-group list-group-flush">
          {% for serie in series %}
            <li class="list-group-item">
              <a href="{{ path('series_show', {titre : serie.titre}) }}" class="text-decoration-none">
                {{ serie.titre }}
              </a>
            </li>
          {% endfor %}
        </ul>
      </div>
    {% endif %}

    <div class="d-flex justify-content-between my-4">
      <a href="{{ path('app_home') }}" class="btn btn-primary">
        Retour à l'accueil
      </a>
      <a href="{{ path('series_add') }}" class="btn btn-success">
        Ajouter une nouvelle série
      </a>
    </div>
  </div>

  {% include('vod/partials/footer.html.twig') %}

{% endblock %}
