{% extends 'base.html.twig' %}

{% block title %}Films{% endblock %}

{% block body %}
	{% include('vod/partials/header.html.twig') %}

  <div class="container">
    <h1 class="my-4">Films disponibles</h1>

    {% if films is empty %}
      <p>Aucun film disponible pour le moment.</p>
    {% else %}
      <div class="card mb-4">
        <ul class="list-group list-group-flush">
          {% for film in films %}
            <li class="list-group-item">
              <a href="{{ path('films_show', {titre : film.titre}) }}" class="text-decoration-none">
                {{ film.titre }}
              </a>
            </li>
          {% endfor %}
        </ul>
      </div>
    {% endif %}

    <div class="d-flex justify-content-between my-4">
      <a href="{{ path('app_home') }}" class="btn btn-primary">
        Retour à l'accueil
      </a>
      <a href="{{ path('films_add') }}" class="btn btn-success">
        Ajouter une nouvelle série
      </a>
    </div>
  </div>

    {% include('vod/partials/footer.html.twig') %}
{% endblock %}
